{% extends 'layouts/page.njk' %}

{% block content %}
  {{ appHeading({
    text: heading
  }) }}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% for paragraph in body %}
        <p class="govuk-body">{{ paragraph }}</p>
      {% endfor %}
    </div>
  </div>
{% endblock %}
